# **Data Science Tools and Ecosystem**

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:<ol>
   <li>Python</li>
   <li>Scala</li>
   <li>R</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
   <li>Pandas</li>
   <li>scikit</li>
   <li>Matplotlib</li>
</ol>

<table>
 <tr>
   <th><h3> Data Science Tools</h3></th>
 </tr>
 <tr>
      <td>Pytorch</td>
  </tr>
  <tr>
      <td>Tensorflow</td>
  </tr>
  <tr>
      <td>NLTK</td>
  </tr>

</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [4]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
hr=200/60
hr

3.3333333333333335

**Objectives:**
<ol>
   <li>Popular langauge</li>
   <li>Libraries used by Data Scientist</li>
   <li>Data science tools</li>
</ol>

<h2>Author</h2>
<h6>Akshay</H6>